  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Gemunu+Libre:wght@400;700&family=Open+Sans&display=swap');


  body {
  margin: 0;
  font-family: 'Electrolize', sans-serif;
  overflow:hidden;

}
.ant-btn-primary{
  background-color: #1677ff;
}
.categories::-webkit-scrollbar{
  display: none;
}
/* scroll gizleme */
